/* ribbon customer wallet & discount */
.ribbon {
 font-size: 20px !important;

 width: 50%;

 position: relative;
 background: #ea8262;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #ea8262;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #60504b transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
/* customer wallet details */
.customer-wallet .wallet-details {
    display:  flex;
    justify-content: space-between;
}

/* other info */

p.no-of-order {
    background: white;
    padding:  8px 5px;
    border-radius:  1px;
    font-weight: bold;
}

/* p.total-spent {
    background: white;
    padding:  8px 5px;
    font-weight:  bold;
} */
/* balance credits */
.wallet-details .avatar {
    border: 2px solid #ea8161;
}

.total-spent {
    display:  flex;
    justify-content: space-around;
    padding: 10px 5px;
    font-weight:  bold;
    color:  white;
    background: #428bca;
    margin: 20px 0;
}

.total-spent span {
    font-size: 20px;
}

.total-order {
    display:  flex;
    justify-content: space-around;
    padding: 10px 5px;
    font-weight:  bold;
    color:  white;
    background: #428bca;
}

.total-order span {
    font-size: 20px;
}
.customer-balance {
    border: 2px dashed #ea8161;
    padding:  35px;
    font-size: 25px;
    text-align:  center;
    color: #554946;
}
.customer-balance span {
    font-size: 35px;
    color: #ea8161;
}
.customer-badge i {
    font-size: 94px;
    color: #ea8161;
}

/* customer wallet padding */
.customer-wallet {
    margin-top: -35px;
    margin-bottom: 50px;
}
